/* HomePage.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;

  .inner-container {
    padding: 40px 20px;
    padding-top: 20px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-shade-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .box-wrraper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    h1 {
      font-size: 3rem;
      padding: 0 1.2rem;
      margin-bottom: 2rem;
    }

    .wrraper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    a {
      display: inline-block;
      margin: 10px;
      padding: 12px 30px;
      background-color: var(--primary-button);
      color: var(--secondary-color);
      font-weight: bold;
      border-radius: var(--border-radius);
      transition: background-color 0.3s ease;
    }

    a:hover {
      background-color: #ffffff;
      color: #357ab8;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 2rem;
    .inner-container {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
    .inner-container {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
